<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <%# <%= image_tag 'alex_and_dusty_sm.jpg', class: 'img_left' %> %>
        <span class="card-title"><em>About the Great Pittsburgh Baking Outlet</em></span>
        <p>We know how important baking is to you.  We know 
          how much you love them and how they are a part of 
          your family.  And although we live in the 'Steel City' 
          and the people here are tough, we also know your people 
          aren't always as rugged and enjoy baking. That's why the people   
          at the Great Pittsburgh Baking Outlet are committed 
          to giving you and your kitchen only the best care at 
          the most affordable prices.  Come visit our offices 
          at 5000 Forbes Avenue (Porter 224A) and see how we
          can help you get your baking career started.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>